[Desktop Entry]
Type=Application
Exec=/bin/switch_to_snes
Path=/var/lib/clover/profiles/0/FOLDER
Name=Switch to SNES Classic
Icon=/var/lib/hakchi/rootfs/usr/share/games/nes/kachikachi/CLV-P-0SNES/CLV-P-0SNES.png

[X-CLOVER Game]
Code=CLV-P-0SNES
TestID=777
ID=0
Players=1
Simultaneous=0
ReleaseDate=9999-88-88
SaveCount=0
SortRawTitle=Юswitch to snes classic
SortRawPublisher=ZZZZZZZZZY
Copyright=skogaby
